[Unit]
Description=RoboAi Object Detector Node
After=network.target roboai-cameras.service
Requires=roboai-cameras.service

[Service]
Type=simple
User=teddy
WorkingDirectory=/home/teddy/cobot_ws
ExecStart=/bin/bash -c 'source /opt/ros/humble/setup.bash && source /home/teddy/cobot_ws/install/setup.bash && ros2 run object_detection detector_node'
Restart=always
RestartSec=5
Environment=PATH=/usr/local/bin:/usr/bin:/bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
